DEBUG=False
SECRET_KEY=trocar-por-chave-segura
ALLOWED_HOSTS=mozguest.onrender.com,127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=https://mozguest.onrender.com
DATABASE_URL=
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=MozGuest <no-reply@mozguest.co.mz>
